
@layer base {
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@layer utilities {
  .animate-caret-blink {
    animation: caret-blink 1s step-end infinite;
  }

  @keyframes caret-blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
  }
}

/* Animation utility for logo spin */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
